*{
    padding: 0;
    margin: 0;
}
.login-form{
    width: 385px;
    height: 441px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    background: url()no-repeat;
    background-position: center;
    background-size: cover;
}