/*
  CRIADO POR: VICTOR RAFAEL GONÇALVES SILVA
  EMAIL: victorrafaelgs13@gmail.com
  MATRICULA: 202203004581
*/


/*
proporção da tela
    width: 250px;
    height: 320px;
*/
.loginContainer{
    background-color: #fff;
    width: 270px;
    height: 320px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    
}
.logo{
    height: 60px;
    width: 60px;
}
.inputbox{
    margin: 10px 0;
}
.label{
    top: 0;
    left: 0;
    color: #000000;
    font-size: 1em;
}
.inputbox input{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #000000;
}
.logbutton{
    width: 50%;
    height: 40px;
    border-radius: 40px;
    background: #00A700;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}