/*
  CRIADO POR: Fillype da Silva Macedo Cunha
  EMAIL: fillypecunha@gmail.com
  
  CRIADO POR: VICTOR RAFAEL GONÇALVES SILVA
  EMAIL: victorrafaelgs13@gmail.com
*/
.booksContainer{
    display: flex;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
    gap: 1rem;  
    align-items: center;
    background-color: white;
    margin-bottom: 2rem;

}

.slider-container-books{
    width: 95%;
}

.slider-container-books .slider-books{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    overflow-x: auto;
    scrollbar-width: none;
    
}

.slider-scrollbar {
    height: 24px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
}

.scrollbar-track {
    height: 2px;
    width: 100%;
    background-color: #ccc;
}

.slider-container-books .slider-books::-webkit-scrollbar{
    display: none;
}

.card-home{
    padding: 5px;
    width: 200px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    background-color: aliceblue;
    box-shadow: 1px 1px 20px rgba(9, 9, 9, 0.288);
    border-radius: 5px;
    flex: none;
    object-fit: cover;
  
}

.home-imagem{
    width: 80%;
    height: 80%;
   margin-top: 10px;
}
.titulo-book{
    text-align: center;
    font-size: 1rem;
    margin: 1px;
  
}
.div-title{
    width: 100%;
    height: 45px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.title-genero{
    display: flex;
    margin: 10px;
}
.teste{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.button-frente{
    display: flex;
   
}
.icon-left{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.icon-right{
    cursor: pointer;
    background-color: transparent;
    border: none;
}